*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}
:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}
/* ::-webkit-scrollbar {
    display: none;
} */
.wrapper{
    width:100vw;
    height:100vh;
    overflow:hidden;
    color:var(--colorLight2);
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
}
h1{
    text-align:center;
    text-transform:uppercase;
    margin-top:20px;
}
.tab-container{
    width:90%;
    max-width:550px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:2rem 0;
    margin:0 auto;
    margin-top:4rem;
}
.tab{
    cursor:pointer;
    letter-spacing:1.25px;
    font-size:0.875rem;
    padding:5px 8px;
}
.tab.current-tab{
    background-color:rgb(219, 226, 239, 0.5);
    border-radius:4px;
}
.weather-container{
    margin-block:4rem;
}
.btn{
    all:unset;
    cursor: pointer;
    background-color:var(--colorDark2);
    text-transform:uppercase;
    border-radius:5px;
    font-size: 0.85rem;
    padding:10px 30px;
}
.sub-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.grant-accessContainer{
    display:none;
}
.grant-accessContainer.active{
    display:flex;
}
.grant-accessContainer img{
    margin-bottom:2rem;
}
.grant-accessContainer p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600; 
}
.grant-accessContainer p:last-of-type{
    font-size:0.85rem;
    font-weight:500;
    letter-spacing:0.75px;
    margin-top:0.75rem;
    margin-bottom:1.75rem;
}
.loading-container{
    display:none;
}
.loading-container.active{
    display:flex;
}
.loading-container p{
    text-transform:uppercase;
}
.user-info-container{
    display:none;
}
.user-info-container.active{
    display:flex;
}
.name{
    display:flex;
    gap:0 0.5rem;
    margin-bottom:2rem;
    align-items: center;
}
.user-info-container img{
    width:90px;
    height:90px;
}
.name img{
    width:40px;
    height:40px;
}
.name p{
    font-size:2rem;
}
.user-info-container p[weatherDesc]{
    font-size:1.5rem;
    font-weight:200;
}
.user-info-container p[temp]{
    font-size:2.75rem;
    font-weight:500;
}
.parameter-container{
    width:90%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:10px 20px;
    margin-top:2rem;
}
.parameter{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:5px 0;
    background-color:rgb(219,226,239,0.5);
    border-radius:5px;
    width:30%;
    max-width:200px;
    padding:1rem
}
.parameter img{
    height:50px;
    width:50px;
}
.parameter p:first-of-type{
    font-size:1.15rem;
    font-weight:500;
    text-transform: uppercase;
}
.parameter p:last-of-type{
    font-size:1rem;
    font-weight:200;
}
.search-form-container{
    display:none;
    width:90%;
    max-width:550px;
    margin:0 auto;
    justify-content:center;
    align-items:center;
    gap:0 10px;
    margin-bottom:2rem;
}
.search-form-container input{
    all:unset;
    width:calc(100% - 80px);
    height:40px;
    padding:0 20px;
    background-color: rgb(219,226,239,0.5);
    border-radius:10px;
}
.search-form-container.active{
    display:flex;
}
.search-form-container input::placeholder{
    color:var(--colorLight2);
}
.search-form-container input:focus{
    outline:3px solid rgb(255,255,255,0.7);
}
.search-form-container .btn{
   padding:unset;
   height:40px;
   border-radius:100%;
   width:40px;
   display:flex;
   justify-content:center;
   align-items:center;
}
.errorPage{
    display:none;
}
.errorPage h1{
    font-size:5rem;
    font-weight:800;
}
.errorPage h2{
    font-size:2rem;
    margin-block-start:2rem;
    margin-block-end:1rem;
    word-spacing:10px;
}
.errorPage h3{
    font-weight:400;
}
.errorPage.active{
    display:flex;
}
@media screen and (max-width: 550px) {
    .parameter-container{
    flex-direction:column;
    }
    .tab-container{
    flex-direction:column;
    }
    .tab{
    text-align:center;
    }
    .parameter{
    width:80%;
    }
}
